
.container {
    margin-top: 2%;
}

.header{
    border-bottom: 2px solid lightgray;
}

.cabecera{
    padding-top: 3%;
}

.marketing{
    border-top: 2px solid lightgray;
    padding-top: 3%;
}

.carousel {
    height: 500px;
    width: 500px;
    margin-bottom: 2%;
    margin-top: 3%;
    margin-left: 27%;
}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
 .carousel .item {
    width: 100%;
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 500px;
}
@media (min-width: 500px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
}

.titulo{
    
    font-size: 21px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px; 
}